/* Tablet 900-1199px */
@media (max-width: 1199px){
    .container{
        width: 900px;
    }

    .header{
        height: 591px;
    }

    .header-row {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    .header-content{
        width: 900px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .header-nav-list{
        display: none;
    }

    .header-nav-button{
        display: block;
    }

    .header-title{
        font-size: 52px;
    }

    .header-scroll{
        font-size: 0;
    }

    /* Main */
    .main {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .main-row:not(:last-child){
        margin-bottom: 80px;
    }

    .main-content{
        width: 420px;
    }

    .main-content-img{
        width: 420px;
    }

    .main-title{
        font-size: 50px;
        line-height: 1;
    }

    .main-content-text{
        font-size: 18px;
        margin-bottom: 20px;
    }

    /* Footer */
    .footer{
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .footer-widget-services{
        display: none;
    }

    .footer .logo{
        font-size: 30px;
        margin-bottom: 20px;
    }

    .footer-copyright p{
        font-size: 14px;
    }

    .footer-widget-title{
        margin-bottom: 20px;
    }
}

/* Mobile 600-899px */
@media (max-width: 899px){
    .container{
        width: 600px;
    }

    .header-row{
        width: 100%;
    }

    .header-content{
        width: 100%;
    }

    .header-title{
        font-size: 42px;
    }

    .header-content p{
        font-size: 20px;
    }

    /* Main */
    .main {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .main-content{
        width: auto;
    }

    .main-row{
        flex-direction: row-reverse;
    }

    .main-row:not(:last-child){
        margin-bottom: 60px;
    }

    .main-title{
        font-size: 42px;
    }

    .main-content-text{
        font-size: 16px;
    }

    .main-content-img{
        width: 170px;
        margin-right: 30px;
        flex-shrink: 0;
    }

    .main-content-img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .button{
        font-size: 18px;
        padding-left: 30px;
        padding-right: 30px;
        height: 46px;
        line-height: 46px;
    }

    /* Footer */
    .footer{
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .footer-row{
        flex-wrap: wrap;
    }

    .footer-copyright{
        order: 1;
        width: auto;
    }

    .footer-widget-wrapper{
        width: 100%;
        margin-bottom: 50px;
        padding-top: 0;
    }

    .footer-widget-wrapper > *{
        width: calc(50% - 15px);
    }
}

/* Mobile xs 320-599px */
@media (max-width: 599px){
    .container{
        width: 320px;
    }

    .header-row{
        width: 100%;
    }

    .header-content{
        width: 100%;
    }

    .header-title{
        font-size: 32px;
        margin-bottom: 10px;
    }

    .header-content p{
        font-size: 18px;
    }

    .logo{
        font-size: 30px;
    }

    /* Main */
    .main {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .main .container{
        width: 100%;
    }

    .main-row:nth-child(even){
        flex-direction: column-reverse;
    }

    .main-row{
        flex-direction: column-reverse;
    }

    .main-row:not(:last-child){
        margin-bottom: 40px;
    }

    .main-title{
        font-size: 34px;
    }

    .main-content-img{
        width: auto;
        height: 150px;
        margin-right: 0;
        margin-bottom: 20px;
    }

    /* Footer */
    .footer{
        text-align: center;
    }

    .footer .logo{
        margin-bottom: 10px;
    }

    .footer-row{
        flex-direction: column;
    }

    .footer-widget-wrapper{
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }

    .footer-widget-services{
        display: block;
    }

    .footer-widget:not(:last-child){
        margin-bottom: 40px;
    }

    .footer-widget + .footer-widget {
        margin-left: 0;
    }

    .footer-widget-wrapper > *{
        width: 100%;
    }

    .footer-widget-title{
        font-size: 20px;
        margin-bottom: 10px;
    }

    .footer-widget-list{
        font-size: 16px;
    }

    .footer-widget-items:not(:last-child){
        margin-bottom: 10px;
    }
}