.contacts-title {
    margin-bottom: 40px;
}

.contacts-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.contacts-column-info {
    width: 470px;
}

.contact-widget + .contact-widget {
    margin-top: 40px;
}

.contacts-widget-title {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 28px;
    line-height: 1.3;
}

.contacts-widget-body {
    font-size: 20px;
    line-height: 1.6;
}

.contacts-widget-list li {
    position: relative;
    margin-bottom: 15px;
    padding-left: 39px;
}

.contacts-widget-list li:last-child{
    margin-bottom: 0;
}

.contacts-widget-list li::before {
    content:"";
    position: absolute;
    /* bottom: 0; */
    top: 6px;
    left: 0;
    width: 24px;
    height: 24px;
}

.contacts-widget-list li.tel::before {
    background-image: url(./../img/icons/phone.svg);
}

.contacts-widget-list li.mail::before {
    background-image: url(./../img/icons/mail.svg);
}

.contacts-widget-list li.adress::before {
    background-image: url(./../img/icons/map.svg);
}


.contacts-widget-list a {
    color: #138ECE
}

/* Contacts-form */
.form {
    width: 630px;
    padding: 40px;

    line-height: 1.3;

    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(211, 211, 211, 0.25);
}

.form-title {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 28px;
}

.form-block {
    margin-bottom: 30px;
    font-size: 18px;
}

.form-block:last-of-type {
    margin-bottom: 35px;
}

.form-block > .input {
    margin-bottom: 10px;
}

.form-blok-title {
    margin-bottom: 15px;

    font-weight: 700;
    font-size: 20px;
}

.form-block-row {
    display: flex;
    column-gap: 10px;
}

/* Text-form */
.input {
    width: 100%;

    padding: 12px 20px 15px;

    background: #EEEEEE;
    border: 1px solid #C0C0C0;
    border-radius: 6px;

    font-size: 18px;
}

input::placeholder {
    color: rgba(49, 64, 91, 0.5);
}